[package]
name = "riscv-cpu"
version = "2.0.0"
edition = "2024"

[dependencies]
clap = { version = "4.4", features = ["derive"] }

[features]
always-trace = []

[profile.release]
lto = "fat"
opt-level = 3

[build-dependencies]
which = "6"
